body{
    margin: 0;
    padding: 0;
   
}
.container{
    grid-template-columns: 50% 50%;
    display: grid;
}
aside{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.facebook {
    margin-left:40px ;
}